{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid mx-auto" style="max-width: 70%; position: absolute; top: 100px">
  <div class="card shadow">
   
    <div class="card-body">
      <h4 class ="mb-4">Add Supplier</h4>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="row mb-2 g-3">
          <div class="col-md-4 mt-2 mb-2">
            <div class="form-floating">
              {{ form.name }}
              <label>{{ form.name.label }}</label>
            </div>
          </div>
        </div>
        <div class="row mt-2 mb-2 g-3">
          <div>
            <input
              type="Submit"
              value="Add to Database"
              class="btn btn-outline-primary w-25"
              id="add_btn"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src = "{% static 'js/inventory.js' %}"> </script>
{% endblock %}
