{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid mx-auto" style="width: 90%; position: absolute; top: 10px">
  <div class="mt-4">
    <a
      href="{% url 'add-inventory' %}"
      type="button"
      class="btn btn-outline-primary col-md-2 mt-4"
      id="add-new"
    >
      Add New
    </a>

    <button type="button" class="btn btn-outline-success col-md-2 mt-4" id="update-selected">
      Update Selected
    </button>

    <button type="button" class="btn btn-outline-danger col-md-2 mt-4" id="mark-as-complete">
      Mark as Complete
    </button>
  </div>
  <div class="card mb-4 mt-4 shadow">
    <div class="card-body">
      <h4 class="card-title mb-4">Inventory</h4>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Select</th>
              <th>ID</th>
              <th>Added By</th>
              <th>Category</th>
              <th>Supplier</th>
              <th>Name</th>
              <th>Batch</th>
              <th>Units Added</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for inventory in inventory_list %}
            <tr>
              <td>
                <input type="checkbox" name="selected_inventory" value="{{ inventory.id }}" />
              </td>
              <td>{{ inventory.id }}</td>
              <td>{{ inventory.added_by }}</td>
              <td>{{ inventory.item.category.name }}</td>

              <td>{{ inventory.item.supplier.name }}</td>
              <td>{{ inventory.item.name }}</td>
              <td>{{ inventory.batch }}</td>
              <td>{{ inventory.total_units }}</td>
              <td>{{ inventory.updated}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/inventory.js' %}"></script>

{% endblock content%}
